<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Vue demo</h1>
        <div id="app">
            <div>{{message}}</div>
            <input type="text" v-model="message">
        </div>

        </br> </br> </br> </br> </br>

        <div id="app2">
            <table>
            <tr v-for="book in books ">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
                <td> <button type="button" class="btn btn-danger" v-on:click="delBook(book)">删除</button></td>
            </tr>
            </table>
            </br> </br> </br>

            <legend>添加书籍</legend>
            <div class="form-group">
                <label for="">书名</label>
                <input type="text" class="form-control" v-model="book.name">
            </div>
            <div class="form-group">
                <label for="">作者</label>
                <input type="text" class="form-control" v-model="book.author">
            </div>
            <div class="form-group">
                <label for="">价格</label>
                <input type="text" class="form-control" v-model="book.price">
            </div>
            <button class="btn btn-primary btn-block" v-on:click="addBook()">添加</button>

        </div>

        </br> </br> </br> </br> </br>

        <div id="add-book">

        </div>

    </div>
</div>
</body>

<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            message: 'hello vue.js'
        }
    })


    new Vue({
        el: '#app2',
        data: {
            book: {
                id: 0,
                author: '',
                name: '',
                price: ''
            },
            books: [{
                id: 1,
                author: '曹雪芹',
                name: '红楼梦',
                price: 32.0
            }, {
                id: 2,
                author: '施耐庵',
                name: '水浒传',
                price: 30.0
            }, {
                id: '3',
                author: '罗贯中',
                name: '三国演义',
                price: 24.0
            }, {
                id: 4,
                author: '吴承恩',
                name: '西游记',
                price: 20.0
            }]
        },

        methods: {
            addBook: function() {
                //计算书的id
                this.book.id = this.books.length + 1;
                console.log("book_id:"+this.book.id);
                console.log("books"+this.books);
                this.books.push(this.book);
                //将input中的数据重置
                this.book = '';
            },
            delBook:function(book){
                this.books.$remove(book);
            }
        }
    })
</script>

</html>